.license-container {
  padding-top: 20px;

  .paper {
    padding: 20px;
    margin-bottom: 30px;

    .license-name {
      margin-bottom: 20px;
    }

    .license-text {
      line-height: 20px;
    }
  }
}