.recipe-ingredients-fields {
  .center-field {
    margin-left: auto;
    margin-right: auto;
    width: 98%;

    > div {
      margin-bottom: 20px;
    }
  }

  .fab-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .ingredientsInput {
    width: 55%;
    margin-right: 10px;

    @media (max-width: 480px)  {
      width: 41%;
      margin-right: 3px;
    }
  }

  .valueInput {
    width: 20%;
  }

  .unitInput {
    width: 15%;
    @media (max-width: 480px)  {
      width: 20%;
    }
  }
}