.read-recipe {
  .paper-margin-read-recipe {
    padding: 10px 0 10px 0;
    margin-top: 90px;
    margin-bottom: 10px;
  }

  .section-margin {
    padding: 0 15px;
  }

  .margin-section-heading {
    margin-top: 15px;
  }

  .gallery-flex-read-recipe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .photo-read-recipe {
      width: 500px;
      margin: 5px 8px;

      img {
        width: 100%;
        min-height: auto;
        border-radius: 4px;
      }
    }
  }

  .flex-icon-info {
    display: flex;
    align-items: center;

    .icon-center-text {
      margin-right: 20px;
      margin-top: 20px;
      display: flex;
      align-items: center;

      p {
        margin-top: 2px;
        margin-left: 5px;
      }
    }
  }
}