.register-container {
  .register-box {
    position: relative;
    padding: 20px;
    max-width: 420px;
    margin: 25vh auto 50px auto;

    .progress-bar {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .register-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .field-width {
    width: 90%;
    margin-top: 15px;
  }

  .buttons {
    margin-top: 15px;
    margin-left: auto;

    .button {
      margin-right: 20px;
    }
  }

  .terms-container {
    width: 100%;
    margin-left: 40px;
  }

  .remove-margin {
    position: relative;
    top: 10px;
    min-height: 0;
    margin: 0;
  }
}