.user-change-password {
  width: 100%;

  .change-password-fields {
    width: 100%;
    margin-bottom: 20px;
  }

  .change-password-button {
    margin-top: 10px;
  }

  .button-and-processing-position {
    display: flex;
    align-items: center;

    button {
      margin-right: 25px;
    }
  }
}