.upload-box {
  position: relative;
  padding: 20px;
  margin-top: 15px;
  width: 100%;

  .upload-recipe {
    padding: 0 15px;
    @media (max-width: 480px)  {
      padding: 0 5px;
    }

    .center-field {
      margin-left: auto;
      margin-right: auto;
      width: 98%;

      > div {
        margin-bottom: 20px;
      }
    }
  }
}

.steps-button {
  margin: 15px 0 10px 40px;

  button {
    margin-right: 10px;
  }
}