.upload-box {
  position: relative;
  padding: 20px;
  margin-top: 15px;
  width: 100%;

  .upload-recipe {
    padding: 0 15px;
    @media (max-width: 480px)  {
      padding: 0 5px;
    }

    .container-upload-button {
      margin-top: 20px;
      padding: 10px;
      border: 1px dashed silver;
      width: 100%;
    }

    .center-field {
      margin-left: auto;
      margin-right: auto;
      width: 98%;

      > div {
        margin-bottom: 15px;
      }
    }

    .information-field {
      width: 100%;
      margin-bottom: 15px;
    }

    .fab-icon {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .ingredientsInput {
      width: 55%;
      margin-right: 10px;

      @media (max-width: 480px)  {
        width: 41%;
        margin-right: 3px;
      }
    }

    .valueInput {
      width: 20%;
    }

    .unitInput {
      width: 15%;
      @media (max-width: 480px)  {
        width: 20%;
      }
    }
  }

  .steps-button {
    margin: 15px 0 10px 40px;

    button {
      margin-right: 10px;
    }
  }
}